.footer {
  background: linear-gradient(
    to bottom,
    rgba(255, 105, 180, 0.9),
    rgba(170, 0, 255, 0.6) 12px
  );
  margin-top: 300px;
  padding: 20px 0;
}

.footer-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.left-footer {
  color: white;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
}

a:hover {
  color: #33ccff;
}

.arrow {
  color: #8a0806;
}

.right-footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
